# __RECOMMENDATION SYSTEM__

<hr>
<hr>

## 2. _Collaborative Filtering_

<hr>

- data yg dibutuhkan : history interaksi user dengan product, misal
    - E-commerce: history pembelian user, wishlist, rating product
    - Social media: history views, likes, subscription

- basicnya adalah correlations

In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.DataFrame([
    {'user': 'Andi', 'dapur1': 5, 'dapur2': 5, 'dapur3': 5, 'sport1': 1, 'sport2': 1, 'sport3': 1},
    {'user': 'Budi', 'dapur1': 4, 'dapur2': 5, 'dapur3': 4, 'sport1': 2, 'sport2': 1, 'sport3': 2},
    {'user': 'Caca', 'dapur1': 4, 'dapur2': 4, 'dapur3': 5, 'sport1': 1, 'sport2': 2, 'sport3': 2},
    {'user': 'Deni', 'dapur1': 1, 'dapur2': 2, 'dapur3': 1, 'sport1': 4, 'sport2': 5, 'sport3': 4},
    {'user': 'Euis', 'dapur1': 2, 'dapur2': 1, 'dapur3': 2, 'sport1': 5, 'sport2': 5, 'sport3': 5}
])

In [6]:
dfCorr = df.corr()
dfCorr

          dapur1    dapur2    dapur3    sport1    sport2    sport3
dapur1  1.000000  0.887783  0.971537 -0.887783 -0.950262 -0.907407
dapur2  0.887783  1.000000  0.848485 -0.924242 -0.980418 -0.971537
dapur3  0.971537  0.848485  1.000000 -0.924242 -0.913266 -0.887783
sport1 -0.887783 -0.924242 -0.924242  1.000000  0.913266  0.971537
sport2 -0.950262 -0.980418 -0.913266  0.913266  1.000000  0.950262
sport3 -0.907407 -0.971537 -0.887783  0.971537  0.950262  1.000000

In [7]:
# rekomendasi untuk user lain

# Fafa membeli barang dapur1 dan beri rating 5
Fafa = ['dapur1', 5]

In [8]:
# similarity score berdasarkan correlation matrix

skor = dfCorr[Fafa[0]] * Fafa[1]
skor

dapur1    5.000000
dapur2    4.438917
dapur3    4.857683
sport1   -4.438917
sport2   -4.751311
sport3   -4.537037
Name: dapur1, dtype: float64

In [10]:
# Gina beli dapur1, sport1, sport3

Gina = [['dapur1', 3], ['sport1', 3], ['sport3', 3]]

In [11]:
dfSkor = pd.DataFrame()
for produk, rating in Gina:
    skor = dfCorr[produk] * rating
    skor = skor.sort_values(ascending=False)
    dfSkor = dfSkor.append(skor)
dfSkor

          dapur1    dapur2    dapur3   sport1    sport2    sport3
dapur1  3.000000  2.663350  2.914610 -2.66335 -2.850787 -2.722222
sport1 -2.663350 -2.772727 -2.772727  3.00000  2.739798  2.914610
sport3 -2.722222 -2.914610 -2.663350  2.91461  2.850787  3.000000

In [12]:
dfSkor.sum().sort_values(ascending=False)

sport1    3.251259
sport3    3.192387
sport2    2.739798
dapur1   -2.385572
dapur3   -2.521468
dapur2   -3.023987
dtype: float64